In [ ]:
USE itversity_retail_db

In [ ]:
SELECT * FROM order_items

In [ ]:
SELECT count(*) FROM order_items

In [ ]:
SELECT count(*) FROM JSON.`dbfs:/public/retail_db_json/order_items

In [ ]:
SELECT order_item_order_id, 
    round(sum(order_item_subtotal), 2) AS order_revenue
FROM order_items
GROUP BY 1
ORDER BY 1