In [ ]:
spark.sql('SELECT current_date').show()

In [ ]:
%sql

SELECT current_date

In [ ]:
%fs ls dbfs:/public/retail_db/orders

In [ ]:
%sql

CREATE TEMPORARY VIEW orders(
    order_id INT,
    order_date STRING,
    order_customer_id INT,
    order_status STRING
) USING CSV
OPTIONS (
    path='dbfs:/public/retail_db/orders'
)

In [ ]:
%sql

SELECT * FROM orders

In [ ]:
%sql

SELECT order_status,
    count(*) AS order_count
FROM orders
GROUP BY 1
ORDER BY 2 DESC