In [ ]:
CREATE OR REPLACE TEMPORARY VIEW orders (
    order_id INT,
    order_date STRING,
    order_customer_id INT,
    order_status STRING
) USING CSV
OPTIONS (
    path='dbfs:/public/retail_db/orders',
    sep=','
)

In [ ]:
CREATE OR REPLACE TEMPORARY VIEW order_items (
    order_item_id INT,
    order_item_order_id INT,
    order_item_product_id INT,
    order_item_quantity INT,
    order_item_subtotal FLOAT,
    order_item_product_price FLOAT
) USING CSV
OPTIONS (
    path='dbfs:/public/retail_db/order_items',
    sep=','
)

In [ ]:
DESCRIBE orders

In [ ]:
DESCRIBE order_items

In [ ]:
SELECT * FROM orders

In [ ]:
SELECT DISTINCT order_status FROM orders

In [ ]:
SELECT count(*) FROM orders

In [ ]:
SELECT count(*) FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')

In [ ]:
SELECT count(*) FROM order_items

In [ ]:
SELECT *
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi. order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')

In [ ]:
SELECT count(*)
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi. order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')

In [ ]:
SELECT o.order_date,
    oi.order_item_product_id,
    round(sum(oi.order_item_subtotal)) AS revenue
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi. order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')
GROUP BY 1, 2