In [1]:
import json

In [2]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [3]:
schemas = json.load(open('data/retail_db/schemas.json'))

In [4]:
import glob

In [5]:
src_file_names = glob.glob('data/retail_db/*/part*')

In [6]:
src_file_names

['data/retail_db\\categories\\part-00000',
 'data/retail_db\\customers\\part-00000',
 'data/retail_db\\departments\\part-00000',
 'data/retail_db\\orders\\part-00000',
 'data/retail_db\\order_items\\part-00000',
 'data/retail_db\\products\\part-00000']

In [7]:
s = 's/a\\b\\c'

In [8]:
s.split('/')

['s', 'a\\b\\c']

In [9]:
s.split('\\')

['s/a', 'b', 'c']

In [10]:
import re

In [11]:
re.split('[/\\\]', s)

['s', 'a', 'b', 'c']

In [13]:
for file in src_file_names:
    print(re.split('[/\\\]', file))

['data', 'retail_db', 'categories', 'part-00000']
['data', 'retail_db', 'customers', 'part-00000']
['data', 'retail_db', 'departments', 'part-00000']
['data', 'retail_db', 'orders', 'part-00000']
['data', 'retail_db', 'order_items', 'part-00000']
['data', 'retail_db', 'products', 'part-00000']

In [14]:
file = src_file_names[0]

In [15]:
file

'data/retail_db\\categories\\part-00000'

In [17]:
file_details = re.split('[/\\\]', file)

In [19]:
ds_name = file_details[-2]

In [21]:
columns = get_column_names(schemas, ds_name)

In [23]:
import pandas as pd

In [24]:
df = pd.read_csv(file, names=columns)

In [ ]:
df

In [26]:
df.shape

(58, 3)

In [27]:
for file in src_file_names:
    print(f'Processing {file}')
    file_path_list = re.split('[/\\\]', file)
    ds_name = file_path_list[-2]
    columns = get_column_names(schemas, ds_name)
    df = pd.read_csv(file, names=columns)
    print(f'Shape of {ds_name} is {df.shape}')

Processing data/retail_db\categories\part-00000
Shape of categories is (58, 3)
Processing data/retail_db\customers\part-00000
Shape of customers is (12435, 9)
Processing data/retail_db\departments\part-00000
Shape of departments is (6, 2)
Processing data/retail_db\orders\part-00000
Shape of orders is (68883, 4)
Processing data/retail_db\order_items\part-00000
Shape of order_items is (172198, 6)
Processing data/retail_db\products\part-00000
Shape of products is (1345, 6)

In [28]:
df

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...
...,...,...,...,...,...,...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,NaN,34.00,http://images.acmesports.sports/Nike+Women%27s...
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,NaN,32.00,http://images.acmesports.sports/Nike+Men%27s+S...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...